.container-product-details {
  width: 100%;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 5rem auto;
}
.container-product-details__image {
  width: 100%;
  height: 100%;
}
.container-product-details__image--size {
  width: 10rem;
}
.container-product-details__details-text {
  width: 100%;
  padding: 2rem;
}
.container-product-details__details-text h1 {
  font-family: "mont-semibold" !important;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  color: #5a5a5a;
}

.container-product-details__details-text .short-description {
  font-family: "mont-regular" !important;
  font-style: normal;
  font-size: 0.7rem;
  color: #5a5a5a;
}
.container-product-details__details-text .price-text {
  font-family: "mont-semibold" !important;
  font-style: normal;
  font-size: 1.3rem;
  color: #4b64a4;
}

.btn-cart {
  padding: 1.5rem;
  text-align: center;
  font-family: "omnes-regular";
  font-weight: 500;
  font-size: 1.3rem;
  width: 260px;
  height: 60px;
  margin: 2rem auto;
  background-color: #ec608d;
  border-radius: 20px;
  color: #fff !important;
  line-height: 1.3rem;
  position: relative;
  top: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ec608d;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container-product-details {
    flex-direction: row;
    text-align: center;
    padding: 2rem 8rem 2rem 8rem;
    margin: 0 auto;
  }

  .container-product-details__image {
    width: 50%;
    height: 100%;
  }
  .container-product-details__image--size {
    width: 15rem;
  }
  .container-product-details__details-text {
    width: 50%;
    padding: 2rem;
  }
  .container-product-details__details-text h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #5a5a5a;
  }

  .container-product-details__details-text .short-description {
    font-size:1rem;
    color: #5a5a5a;
  }
  .container-product-details__details-text .price-text {
    font-family: "mont-semibold" !important;
    font-style: normal;
    font-size: 1.5rem;
    color: #4b64a4;
  }

}
