.box-cart {
  position: absolute;
  z-index: 10000;
  background: #ffffff;
  box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 44px 44px;
  min-height: 100px;
  min-width: 320px;
  top: 60px;
  right: 0px;
  padding: 25px;
}
.popup-title {
  font-family: "mont-semibold";
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #5a5a5a;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
.card-shopping-cart {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #dadada;
}
.card-shopping-cart img {
  width: 30%;
  height: auto;
  border-radius: 20px;
}
.card-shopping-cart__text {
  padding: 0rem 0.5rem;
  width: 65%;
}
.card-shopping-cart__title {
  font-family: "mont-regular";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
}
.card-shopping-cart__price {
  font-family: "mont-semibold";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #4b64a4;
  text-align: center;
}
.popup-plus {
  font-family: "mont-regular";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #4b64a4;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dadada;
}
.popup-total-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.popup-total-price__letter {
  font-family: "mont-semibold";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #5a5a5a;
}
.popup-total-price__number {
  font-family: "mont-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #4b64a4;
}
.btn-cart {
  margin: 2.5rem auto;
  text-align: center;
  font-family: "omnes-regular";
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem 0rem;
  margin: 2rem auto;
  width: 13rem;
  background-color: #ec608d;
  border-radius: 20px;
  color: #fff !important;
  line-height: 1.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ec608d;
  cursor: pointer;
}

@media (min-width: 768px) {
  .box-cart {
    width: 500px;
    min-width: 320px;
  }
}
